PORT=3000
APP_URL=http://localhost:3000
CORS_ORIGIN=http://localhost:3000,http://localhost:3001

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=adel
DB_PASSWORD=1234567
DB_NAME=apartments_db

# Set to true to auto-create tables (also used by docker compose)
# DB_SYNCHRONIZE=true
